
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body><br>
	<center><h1>유튜브 댓글 반응 분석 프로그램입니다.</h1></center><br>
	<div class="container">
		<form action="/sentiment" method="post">
			Enter the Youtube URL : <input name="url1" type="text" size="40" class="form-control" placeholder="enter the url"/><br/>
			<center><button type="submit" class="btn btn-danger">enter</button></center>
		</form>
	</div>
	
</body>