<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body><br>
	<div class="container">
		<center><h1>댓글 긍정 부정 분석 결과입니다...</h1></center><br><br>
	
		<table class="table">
		<thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">URL</th>
	      <th scope="col">Title</th>
	      <th scope="col">Sentiment</th>
	      <th scope="col">Percentage</th>
	    </tr>
	 	</thead>
		  {% for word in words %}
		  <tr>
		   <th scope="row">{{ word.url_id }}</th>
		   <td>{{ word.url_addr1 }}</td>
		   <td>{{ word.title }}</td>
		   <td>{{ word.sent }}</td>
		   <td>{{ word.percentage }}</td>
		  </tr>
		  {% endfor %}
		</table>
		
		<center><button type="button" class="btn btn-danger" onclick="location.href='/'">home</button></center>
	</div>
</body>